.layout {
  display: grid;
  grid-template-columns: repeat(24, minmax(0, 1fr));
}

.scrollbar {
  scrollbar-width: 0px;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.dotBelow {
  position: relative;
}

.dotBelow::after {
  content: "";
  position: absolute;
  bottom: -40%;
  right: 40%;
  border: 2px solid rgb(34, 197, 94);
  border-radius: 100%;
}

.icon {
  display: none;
}

.showIcon:hover .icon {
  display: flex;
}

.functionContainer:hover {
  background-color: #232323;
}

.functionContainer:hover .showFunction {
  display: flex !important;
}

.blurBgGradient {
  background: linear-gradient(to bottom, #182c1f, #171d19);
}

.slideRight {
  animation: slideToRight 0.3s ease-out;
}

.slideLeft {
  animation: slideToLeft forwards 0.3s ease-in;
}

@keyframes slideToRight {
  from {
    transform: translateX(-15%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-15%);
    opacity: 0;
  }
}
